USE [CookingShareDB]
GO
/****** Object:  Table [dbo].[ACCOUNT]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Password] [varchar](255) NOT NULL,
	[Role] [int] NULL,
	[Status] [int] NULL,
	[RegistDate] [datetime] NULL,
	[ResetToken] [varchar](100) NULL,
	[TokenExpiry] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ALLERGY]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALLERGY](
	[AccountID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC,
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BANNER]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANNER](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NULL,
	[ImageURL] [nvarchar](max) NOT NULL,
	[LinkURL] [nvarchar](max) NULL,
	[Position] [int] NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORY]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMMENT]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[Rating] [int] NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NULL,
	[AccountID] [int] NULL,
	[RecipeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COOKSNAP]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COOKSNAP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[ImageName] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](500) NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COOKSNAP_COMMENT]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COOKSNAP_COMMENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CooksnapID] [int] NOT NULL,
	[AccountID] [int] NOT NULL,
	[Content] [nvarchar](500) NOT NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FAVORITE]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAVORITE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[RecipeID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FOLLOW]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FOLLOW](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FollowerID] [int] NOT NULL,
	[FollowedID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROCERY]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROCERY](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[RecipeID] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INGREDIENT]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INGREDIENT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Calo] [float] NULL,
	[Protein] [float] NULL,
	[Fat] [float] NULL,
	[Sugar] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NOTIFICATION]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NOTIFICATION](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[LinkURL] [varchar](255) NULL,
	[IsRead] [bit] NULL,
	[CreateDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROFILE]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILE](
	[AccountID] [int] NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Avatar] [nvarchar](max) NULL,
	[Height] [float] NULL,
	[Weight] [float] NULL,
	[Gender] [nvarchar](10) NULL,
	[BirthDay] [date] NULL,
	[Lifestyle] [nvarchar](50) NULL,
	[CaloDaily] [float] NULL,
	[Bio] [nvarchar](500) NULL,
	[JobTitle] [nvarchar](100) NULL,
	[Education] [nvarchar](100) NULL,
	[CookingPhilosophy] [nvarchar](max) NULL,
	[KitchenImage] [varchar](255) NULL,
	[SocialLink] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECIPE]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NOT NULL,
	[Describe] [nvarchar](max) NULL,
	[MainImage] [nvarchar](max) NULL,
	[CookTime] [int] NULL,
	[PrepTime] [int] NULL,
	[Servings] [int] NULL,
	[Difficulty] [nvarchar](20) NULL,
	[Status] [int] NULL,
	[RejectReason] [nvarchar](max) NULL,
	[Views] [int] NULL,
	[CreateDate] [datetime] NULL,
	[AccountID] [int] NULL,
	[CategoryID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECIPE_DETAIL]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE_DETAIL](
	[RecipeID] [int] NOT NULL,
	[IngredientID] [int] NOT NULL,
	[Quantity] [float] NOT NULL,
	[UnitID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC,
	[IngredientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECIPE_TAG_MAP]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECIPE_TAG_MAP](
	[RecipeID] [int] NOT NULL,
	[TagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecipeID] ASC,
	[TagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORT]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ReporterID] [int] NOT NULL,
	[ReportType] [int] NOT NULL,
	[TargetID] [int] NOT NULL,
	[Reason] [nvarchar](500) NOT NULL,
	[CreateDate] [datetime] NULL,
	[Status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STEPTODO]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STEPTODO](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[RecipeID] [int] NULL,
	[StepOrder] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[ImageURL] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYSTEM_SETTING]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYSTEM_SETTING](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SettingKey] [varchar](50) NULL,
	[SettingValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAG]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TagName] [nvarchar](50) NOT NULL,
	[TagType] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIP]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIP](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Content] [nvarchar](max) NULL,
	[ImageURL] [nvarchar](max) NULL,
	[CreateDate] [datetime] NULL,
	[AccountID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIT]    Script Date: 22/03/2026 3:05:10 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UnitName] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNT] ON 

INSERT [dbo].[ACCOUNT] ([ID], [UserName], [Email], [Phone], [Password], [Role], [Status], [RegistDate], [ResetToken], [TokenExpiry]) VALUES (1, N'admin', N'admin@cookingshare.com', N'0901234567', N'ca9d1246aef023b5ebbcfaeb14483a352ef7128468bfe2720937808b61376a8c', 1, 1, CAST(N'2026-03-07T20:40:45.453' AS DateTime), NULL, NULL)
INSERT [dbo].[ACCOUNT] ([ID], [UserName], [Email], [Phone], [Password], [Role], [Status], [RegistDate], [ResetToken], [TokenExpiry]) VALUES (2, N'hoanganh', N'hoanganh@gmail.com', N'0987654321', N'ca9d1246aef023b5ebbcfaeb14483a352ef7128468bfe2720937808b61376a8c', 2, 1, CAST(N'2026-03-07T20:40:45.453' AS DateTime), NULL, NULL)
INSERT [dbo].[ACCOUNT] ([ID], [UserName], [Email], [Phone], [Password], [Role], [Status], [RegistDate], [ResetToken], [TokenExpiry]) VALUES (3, N'bepxinh', N'bepxinh@yahoo.com', N'0911222333', N'ca9d1246aef023b5ebbcfaeb14483a352ef7128468bfe2720937808b61376a8c', 2, 1, CAST(N'2026-03-07T20:40:45.453' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[ACCOUNT] OFF
GO
INSERT [dbo].[ALLERGY] ([AccountID], [IngredientID]) VALUES (2, 7)
INSERT [dbo].[ALLERGY] ([AccountID], [IngredientID]) VALUES (4, 5)
INSERT [dbo].[ALLERGY] ([AccountID], [IngredientID]) VALUES (4, 34)
GO
SET IDENTITY_INSERT [dbo].[BANNER] ON 

INSERT [dbo].[BANNER] ([ID], [Title], [ImageURL], [LinkURL], [Position], [IsActive]) VALUES (2, N'Mẹo ăn Eat Clean giảm cân', N'banner_0290b612_639097411433454529_9f21.jpg', N'/Tip/Index', 2, 1)
INSERT [dbo].[BANNER] ([ID], [Title], [ImageURL], [LinkURL], [Position], [IsActive]) VALUES (3, N'Bí Quyết Nấu Phở Bò Gia Truyền', N'banner_7c37c565_639097403066902964_5743.jpg', N'/Tip/Index', 1, 1)
INSERT [dbo].[BANNER] ([ID], [Title], [ImageURL], [LinkURL], [Position], [IsActive]) VALUES (5, N'5 Cách Bảo Quản Rau Củ Tươi Lâu', N'banner_ff608566_639097403909300009_c214.jpg', N'/Tip/Index', 3, 1)
SET IDENTITY_INSERT [dbo].[BANNER] OFF
GO
SET IDENTITY_INSERT [dbo].[CATEGORY] ON 

INSERT [dbo].[CATEGORY] ([ID], [Name], [ImageURL]) VALUES (1, N'Món Mặn', NULL)
INSERT [dbo].[CATEGORY] ([ID], [Name], [ImageURL]) VALUES (2, N'Món Chay', NULL)
INSERT [dbo].[CATEGORY] ([ID], [Name], [ImageURL]) VALUES (3, N'Món Canh', NULL)
SET IDENTITY_INSERT [dbo].[CATEGORY] OFF
GO
SET IDENTITY_INSERT [dbo].[COMMENT] ON 

INSERT [dbo].[COMMENT] ([ID], [Content], [Rating], [CreateDate], [Status], [AccountID], [RecipeID]) VALUES (1, N'Món gà xào này ướp ngon quá shop ơi!', 5, CAST(N'2026-03-07T20:40:45.463' AS DateTime), 1, 3, 3)
INSERT [dbo].[COMMENT] ([ID], [Content], [Rating], [CreateDate], [Status], [AccountID], [RecipeID]) VALUES (2, N'Mình thay đường bằng đường kiêng ăn vẫn rất cuốn.', 4, CAST(N'2026-03-07T20:40:45.463' AS DateTime), 1, 2, 4)
INSERT [dbo].[COMMENT] ([ID], [Content], [Rating], [CreateDate], [Status], [AccountID], [RecipeID]) VALUES (3, N'Đã làm. rất ngon', 4, CAST(N'2026-03-12T04:44:05.410' AS DateTime), 1, 4, 3)
SET IDENTITY_INSERT [dbo].[COMMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[COOKSNAP] ON 

INSERT [dbo].[COOKSNAP] ([ID], [RecipeID], [AccountID], [ImageName], [Content], [CreateDate], [Status]) VALUES (1, 1, 1, N'', N'Công thức đỉnh quá! Mình làm lần đầu mà thành công luôn, cả nhà khen nức nở 😍', CAST(N'2026-03-12T15:02:57.943' AS DateTime), 1)
INSERT [dbo].[COOKSNAP] ([ID], [RecipeID], [AccountID], [ImageName], [Content], [CreateDate], [Status]) VALUES (2, 1, 2, N'', N'Màu của mình lên chưa được đẹp bằng chủ thớt, nhưng ăn rất vừa miệng nha!', CAST(N'2026-03-12T15:02:57.943' AS DateTime), 1)
INSERT [dbo].[COOKSNAP] ([ID], [RecipeID], [AccountID], [ImageName], [Content], [CreateDate], [Status]) VALUES (3, 2, 1, N'', N'Thành quả cuối tuần của mình đây, cảm ơn bạn đã chia sẻ công thức.', CAST(N'2026-03-12T15:02:57.943' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[COOKSNAP] OFF
GO
SET IDENTITY_INSERT [dbo].[COOKSNAP_COMMENT] ON 

INSERT [dbo].[COOKSNAP_COMMENT] ([ID], [CooksnapID], [AccountID], [Content], [CreateDate], [Status]) VALUES (1, 1, 2, N'Màu lên đẹp xuất sắc luôn bạn ơi! Nhìn thèm quá 🤤', CAST(N'2026-03-12T16:41:56.623' AS DateTime), 1)
INSERT [dbo].[COOKSNAP_COMMENT] ([ID], [CooksnapID], [AccountID], [Content], [CreateDate], [Status]) VALUES (2, 1, 1, N'Haha cảm ơn bạn nha, làm y chang công thức là được á!', CAST(N'2026-03-12T17:11:56.623' AS DateTime), 1)
INSERT [dbo].[COOKSNAP_COMMENT] ([ID], [CooksnapID], [AccountID], [Content], [CreateDate], [Status]) VALUES (3, 2, 1, N'Của bạn nhìn cũng ngon lắm nè, lần sau rắc thêm tí hành lá lên là chuẩn bài!', CAST(N'2026-03-12T16:41:56.623' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[COOKSNAP_COMMENT] OFF
GO
SET IDENTITY_INSERT [dbo].[FAVORITE] ON 

INSERT [dbo].[FAVORITE] ([ID], [AccountID], [RecipeID], [CreateDate]) VALUES (2, 2, 3, CAST(N'2026-03-14T06:19:44.143' AS DateTime))
SET IDENTITY_INSERT [dbo].[FAVORITE] OFF
GO
SET IDENTITY_INSERT [dbo].[FOLLOW] ON 

INSERT [dbo].[FOLLOW] ([ID], [FollowerID], [FollowedID], [CreateDate]) VALUES (6, 4, 2, CAST(N'2026-03-14T12:43:00.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[FOLLOW] OFF
GO
SET IDENTITY_INSERT [dbo].[INGREDIENT] ON 

INSERT [dbo].[INGREDIENT] ([ID], [Name], [Calo], [Protein], [Fat], [Sugar]) VALUES (1, N'Thịt ba chỉ heo', 518, 16, 50, 0)
INSERT [dbo].[INGREDIENT] ([ID], [Name], [Calo], [Protein], [Fat], [Sugar]) VALUES (2, N'Ức gà', 165, 31, 3.6, 0)
INSERT [dbo].[INGREDIENT] ([ID], [Name], [Calo], [Protein], [Fat], [Sugar]) VALUES (3, N'Thịt bò', 250, 26, 15, 0)
GO
SET IDENTITY_INSERT [dbo].[INGREDIENT] OFF
GO
SET IDENTITY_INSERT [dbo].[NOTIFICATION] ON 

INSERT [dbo].[NOTIFICATION] ([ID], [AccountID], [Content], [LinkURL], [IsRead], [CreateDate]) VALUES (2, 2, N'Người dùng hoangyue24011999 đã bắt đầu theo dõi bạn.', N'/User/PublicProfile/4', 1, CAST(N'2026-03-14T12:43:00.163' AS DateTime))
INSERT [dbo].[NOTIFICATION] ([ID], [AccountID], [Content], [LinkURL], [IsRead], [CreateDate]) VALUES (3, 4, N'Bình luận của bạn tại một công thức đã bị Admin gỡ bỏ do vi phạm tiêu chuẩn cộng đồng.', N'#', NULL, CAST(N'2026-03-18T16:10:24.420' AS DateTime))
INSERT [dbo].[NOTIFICATION] ([ID], [AccountID], [Content], [LinkURL], [IsRead], [CreateDate]) VALUES (4, 3, N'hoangyue24011999 đã bình luận về món ''Đậu hũ sốt cà chua'' của bạn.', N'/Recipe/Detail/5', 0, CAST(N'2026-03-18T16:16:10.877' AS DateTime))
SET IDENTITY_INSERT [dbo].[NOTIFICATION] OFF
GO
INSERT [dbo].[PROFILE] ([AccountID], [FullName], [Avatar], [Height], [Weight], [Gender], [BirthDay], [Lifestyle], [CaloDaily], [Bio], [JobTitle], [Education], [CookingPhilosophy], [KitchenImage], [SocialLink]) VALUES (1, N'Quản Trị Viên', N'default-avatar.png', NULL, NULL, N'Nam', NULL, N'Ít vận động', 2000, N'Người giữ lửa cho cộng đồng CookingShare. 🛡️', N'Quản trị viên hệ thống', N'Đại học Công nghệ thông tin', N'Công nghệ kết nối những tâm hồn yêu ẩm thực. Một nền tảng tốt sẽ giúp các đầu bếp tỏa sáng!', NULL, N'facebook.com/cookingshare_admin')
GO
SET IDENTITY_INSERT [dbo].[RECIPE] ON 

INSERT [dbo].[RECIPE] ([ID], [Name], [Describe], [MainImage], [CookTime], [PrepTime], [Servings], [Difficulty], [Status], [RejectReason], [Views], [CreateDate], [AccountID], [CategoryID]) VALUES (1, N'Thịt kho tàu', N'Món ăn truyền thống ngày Tết', N'recipe_1_639097430660215832_f39a.jpg', 60, 15, 4, N'Trung bình', 1, NULL, 83, CAST(N'2026-03-14T16:10:06.593' AS DateTime), 2, 1)
INSERT [dbo].[RECIPE] ([ID], [Name], [Describe], [MainImage], [CookTime], [PrepTime], [Servings], [Difficulty], [Status], [RejectReason], [Views], [CreateDate], [AccountID], [CategoryID]) VALUES (2, N'Canh chua cá lóc', N'Thanh mát, giải nhiệt mùa hè', N'recipe_2_639097420325089129_b183.jpg', 30, 15, 4, N'Trung bình', 1, NULL, 35, CAST(N'2026-03-07T20:40:45.463' AS DateTime), 3, 3)
INSERT [dbo].[RECIPE] ([ID], [Name], [Describe], [MainImage], [CookTime], [PrepTime], [Servings], [Difficulty], [Status], [RejectReason], [Views], [CreateDate], [AccountID], [CategoryID]) VALUES (3, N'Gà xào sả ớt', N'Đậm đà, cay nồng đưa cơm', N'recipe_3_639097423509411731_28e7.jpg', 20, 10, 2, N'Dễ', 1, NULL, 68, CAST(N'2026-03-07T20:40:45.463' AS DateTime), 2, 1)
SET IDENTITY_INSERT [dbo].[RECIPE] OFF
GO
INSERT [dbo].[RECIPE_DETAIL] ([RecipeID], [IngredientID], [Quantity], [UnitID]) VALUES (1, 1, 500, 1)
INSERT [dbo].[RECIPE_DETAIL] ([RecipeID], [IngredientID], [Quantity], [UnitID]) VALUES (1, 6, 5, 6)
INSERT [dbo].[RECIPE_DETAIL] ([RecipeID], [IngredientID], [Quantity], [UnitID]) VALUES (1, 13, 3, 4)
GO
INSERT [dbo].[RECIPE_TAG_MAP] ([RecipeID], [TagID]) VALUES (1, 4)
INSERT [dbo].[RECIPE_TAG_MAP] ([RecipeID], [TagID]) VALUES (3, 3)
INSERT [dbo].[RECIPE_TAG_MAP] ([RecipeID], [TagID]) VALUES (4, 1)
GO
SET IDENTITY_INSERT [dbo].[REPORT] ON 

INSERT [dbo].[REPORT] ([ID], [ReporterID], [ReportType], [TargetID], [Reason], [CreateDate], [Status]) VALUES (8, 4, 2, 6, N'Spam, quảng cáo trái phép', CAST(N'2026-03-21T14:40:47.297' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[REPORT] OFF
GO
SET IDENTITY_INSERT [dbo].[STEPTODO] ON 

INSERT [dbo].[STEPTODO] ([ID], [RecipeID], [StepOrder], [Content], [ImageURL]) VALUES (1, 3, 1, N'Gà rửa sạch, thái miếng vừa ăn. Sả, tỏi băm nhuyễn.', NULL)
INSERT [dbo].[STEPTODO] ([ID], [RecipeID], [StepOrder], [Content], [ImageURL]) VALUES (2, 3, 2, N'Ướp gà với 1/2 sả băm, nước mắm, tiêu trong 15 phút.', NULL)
INSERT [dbo].[STEPTODO] ([ID], [RecipeID], [StepOrder], [Content], [ImageURL]) VALUES (3, 3, 3, N'Phi thơm tỏi và sả còn lại, cho gà vào xào săn.', NULL)
SET IDENTITY_INSERT [dbo].[STEPTODO] OFF
GO
SET IDENTITY_INSERT [dbo].[SYSTEM_SETTING] ON 

INSERT [dbo].[SYSTEM_SETTING] ([ID], [SettingKey], [SettingValue]) VALUES (1, N'SiteName', N'CookingShare - Chia sẻ đam mê ẩm thực')
INSERT [dbo].[SYSTEM_SETTING] ([ID], [SettingKey], [SettingValue]) VALUES (2, N'ContactEmail', N'support@cookingshare.com')
INSERT [dbo].[SYSTEM_SETTING] ([ID], [SettingKey], [SettingValue]) VALUES (3, N'Hotline', N'0338.684.934')
SET IDENTITY_INSERT [dbo].[SYSTEM_SETTING] OFF
GO
SET IDENTITY_INSERT [dbo].[TAG] ON 

INSERT [dbo].[TAG] ([ID], [TagName], [TagType]) VALUES (1, N'Eat Clean', N'Diet')
INSERT [dbo].[TAG] ([ID], [TagName], [TagType]) VALUES (2, N'Keto', N'Diet')
INSERT [dbo].[TAG] ([ID], [TagName], [TagType]) VALUES (3, N'Dễ làm', N'Difficulty')
SET IDENTITY_INSERT [dbo].[TAG] OFF
GO
SET IDENTITY_INSERT [dbo].[TIP] ON 

INSERT [dbo].[TIP] ([ID], [Title], [Content], [ImageURL], [CreateDate], [AccountID]) VALUES (2, N'Mẹo luộc rau xanh mướt', N'Cho một chút muối vào nước luộc và vớt rau ra ngâm ngay vào tô nước đá lạnh trong 2 phút.', NULL, CAST(N'2026-03-07T20:40:45.467' AS DateTime), 2)
INSERT [dbo].[TIP] ([ID], [Title], [Content], [ImageURL], [CreateDate], [AccountID]) VALUES (3, N'Khử mùi tanh của cá', N'Sử dụng nước vo gạo hoặc rượu trắng pha gừng gập dập để rửa cá trước khi nấu.', NULL, CAST(N'2026-03-07T20:40:45.467' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[TIP] OFF
GO
SET IDENTITY_INSERT [dbo].[UNIT] ON 

INSERT [dbo].[UNIT] ([ID], [UnitName]) VALUES (1, N'gam')
INSERT [dbo].[UNIT] ([ID], [UnitName]) VALUES (2, N'kg')
INSERT [dbo].[UNIT] ([ID], [UnitName]) VALUES (3, N'ml')
SET IDENTITY_INSERT [dbo].[UNIT] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNT__5C7E359E85BD7919]    Script Date: 22/03/2026 3:05:11 SA ******/
ALTER TABLE [dbo].[ACCOUNT] ADD UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNT__A9D10534760ED8F9]    Script Date: 22/03/2026 3:05:11 SA ******/
ALTER TABLE [dbo].[ACCOUNT] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNT__C9F28456FE607953]    Script Date: 22/03/2026 3:05:11 SA ******/
ALTER TABLE [dbo].[ACCOUNT] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__SYSTEM_S__01E719AD1A7C0749]    Script Date: 22/03/2026 3:05:11 SA ******/
ALTER TABLE [dbo].[SYSTEM_SETTING] ADD UNIQUE NONCLUSTERED 
(
	[SettingKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ((2)) FOR [Role]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[ACCOUNT] ADD  DEFAULT (getdate()) FOR [RegistDate]
GO
ALTER TABLE [dbo].[BANNER] ADD  DEFAULT ((1)) FOR [Position]
GO
ALTER TABLE [dbo].[BANNER] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[COMMENT] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[COMMENT] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[COOKSNAP] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[COOKSNAP_COMMENT] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[COOKSNAP_COMMENT] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[FAVORITE] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[FOLLOW] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[GROCERY] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((0)) FOR [Calo]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((0)) FOR [Protein]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((0)) FOR [Fat]
GO
ALTER TABLE [dbo].[INGREDIENT] ADD  DEFAULT ((0)) FOR [Sugar]
GO
ALTER TABLE [dbo].[NOTIFICATION] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[NOTIFICATION] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PROFILE] ADD  DEFAULT ('default-avatar.png') FOR [Avatar]
GO
ALTER TABLE [dbo].[PROFILE] ADD  DEFAULT ((0)) FOR [CaloDaily]
GO
ALTER TABLE [dbo].[RECIPE] ADD  DEFAULT ((2)) FOR [Servings]
GO
ALTER TABLE [dbo].[RECIPE] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[RECIPE] ADD  DEFAULT ((0)) FOR [Views]
GO
ALTER TABLE [dbo].[RECIPE] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[REPORT] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[REPORT] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[TIP] ADD  DEFAULT (getdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[ALLERGY]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ALLERGY]  WITH CHECK ADD FOREIGN KEY([IngredientID])
REFERENCES [dbo].[INGREDIENT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COOKSNAP]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[COOKSNAP]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
GO
ALTER TABLE [dbo].[COOKSNAP]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[COOKSNAP_COMMENT]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[COOKSNAP_COMMENT]  WITH CHECK ADD FOREIGN KEY([CooksnapID])
REFERENCES [dbo].[COOKSNAP] ([ID])
GO
ALTER TABLE [dbo].[FAVORITE]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[FAVORITE]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
GO
ALTER TABLE [dbo].[FAVORITE]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[FOLLOW]  WITH CHECK ADD FOREIGN KEY([FollowedID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[FOLLOW]  WITH CHECK ADD FOREIGN KEY([FollowerID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[GROCERY]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[GROCERY]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
GO
ALTER TABLE [dbo].[GROCERY]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[NOTIFICATION]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PROFILE]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[RECIPE]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[CATEGORY] ([ID])
GO
ALTER TABLE [dbo].[RECIPE_DETAIL]  WITH CHECK ADD FOREIGN KEY([IngredientID])
REFERENCES [dbo].[INGREDIENT] ([ID])
GO
ALTER TABLE [dbo].[RECIPE_DETAIL]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECIPE_DETAIL]  WITH CHECK ADD FOREIGN KEY([UnitID])
REFERENCES [dbo].[UNIT] ([ID])
GO
ALTER TABLE [dbo].[RECIPE_TAG_MAP]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RECIPE_TAG_MAP]  WITH CHECK ADD FOREIGN KEY([TagID])
REFERENCES [dbo].[TAG] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[REPORT]  WITH CHECK ADD  CONSTRAINT [FK_Report_Account] FOREIGN KEY([ReporterID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[REPORT] CHECK CONSTRAINT [FK_Report_Account]
GO
ALTER TABLE [dbo].[STEPTODO]  WITH CHECK ADD FOREIGN KEY([RecipeID])
REFERENCES [dbo].[RECIPE] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TIP]  WITH CHECK ADD FOREIGN KEY([AccountID])
REFERENCES [dbo].[ACCOUNT] ([ID])
GO
ALTER TABLE [dbo].[COMMENT]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
